In [0]:
import numpy as np
import pandas as pd
from scipy import stats 
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
old=np.array([57,103,59,75,84,73,35,110,44,82,67,64,78,53,41,39,80,87,73,65,28,62,49,84,63,77,67,101,91,50])
new=np.array([62,122,54,82,84,86,32,104,38,107,84,85,99,39,34,58,73,53,66,78,41,71,38,95,81,58,75,94,100,68])

In [0]:
#Q1
Mean_old=np.mean(old)
Mean_new=np.mean(new)

In [8]:
print('Mean of old scheme is %f'%(Mean_old))
print('Mean of new scheme is %f'%(Mean_new))

Mean of old scheme is 68.033333
Mean of new scheme is 72.033333

In [12]:
#Q2
A=0.05
t_statistic,p_value=stats.ttest_ind(old,new)
print(t_statistic,p_value)

-0.6937067608923764 0.49063515686248105

In [13]:
#Q3
def result(Pval,alpha):
  if Pval > alpha :
    print('Null hypothesis is accepted as Pvalue %f is greater than level of significance %.3f'%(Pval,alpha))
  else:
    print('Null hypothesis is rejected as Pvalue %f is less than level of significance %.3f'%(Pval,alpha))
result(p_value,A)

Null hypothesis is accepted as Pvalue 0.490635 is greater than level of significance 0.050

In [0]:
#Q4a
Probability of Type I error = significant level = 0.05

In [18]:
#Q4b
A=.05
t_statistic,p_value=stats.ttest_rel(old,new)
print(t_statistic,p_value)

-1.5559143823544377 0.13057553961337662

In [19]:
result(p_value,A)

Null hypothesis is accepted as Pvalue 0.130576 is greater than level of significance 0.050