In [0]:
import numpy as np
import pandas as pd
from scipy import stats

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [5]:
data=pd.read_csv('/content/drive/My Drive/assignment/15july/Laliga.csv', header=1)
data.head(10)

   Pos             Team  Seasons  ...    Debut Since/LastApp BestPosition
0    1      Real Madrid       86  ...     1929          1929            1
1    2        Barcelona       86  ...     1929          1929            1
2    3  Atletico Madrid       80  ...     1929       2002-03            1
3    4         Valencia       82  ...  1931-32       1987-88            1
4    5  Athletic Bilbao       86  ...     1929          1929            1
5    6          Sevilla       73  ...  1934-35       2001-02            1
6    7         Espanyol       82  ...     1929       1994-95            3
7    8    Real Sociedad       70  ...     1929       2010-11            1
8    9         Zaragoza       58  ...  1939-40       2012-13            2
9   10       Real Betis       51  ...  1932-33       2015-16            1

[10 rows x 20 columns]

In [6]:
#Question 1
data=data.replace(to_replace="-",value=0)
data.head(10)

   Pos             Team  Seasons  ...    Debut Since/LastApp BestPosition
0    1      Real Madrid       86  ...     1929          1929            1
1    2        Barcelona       86  ...     1929          1929            1
2    3  Atletico Madrid       80  ...     1929       2002-03            1
3    4         Valencia       82  ...  1931-32       1987-88            1
4    5  Athletic Bilbao       86  ...     1929          1929            1
5    6          Sevilla       73  ...  1934-35       2001-02            1
6    7         Espanyol       82  ...     1929       1994-95            3
7    8    Real Sociedad       70  ...     1929       2010-11            1
8    9         Zaragoza       58  ...  1939-40       2012-13            2
9   10       Real Betis       51  ...  1932-33       2015-16            1

[10 rows x 20 columns]

In [7]:
cat_obj=data.select_dtypes(["object"]).columns
cat_obj

Index(['Team', 'Points', 'GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost',
       'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner-up', 'Third', 'Fourth',
       'Fifth', 'Sixth', 'T', 'Debut', 'Since/LastApp'],
      dtype='object')

In [8]:
#Question 2
data["startyear"]=data['Debut'].str[:4]
data.startyear.tail(5)

56    2009
57    1956
58    1951
59    1955
60    2017
Name: startyear, dtype: object

In [12]:
freq_year=data["startyear"].value_counts().to_frame().reset_index().sort_values("index")
freq_year.columns=[freq_year.columns[1],"count"]
freq_year.head(5)

    startyear  count
0        1929     10
20       1930      1
19       1931      1
18       1932      1
17       1933      1

In [11]:
freq_year["startyear"]=freq_year["startyear"].astype("int64")
freq_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45 entries, 0 to 15
Data columns (total 2 columns):
startyear    45 non-null int64
count        45 non-null int64
dtypes: int64(2)
memory usage: 1.1 KB

In [11]:
freq_year[(freq_year["startyear"]>=1930) & (freq_year["startyear"]<=1980)].sum()[1]

37

In [0]:
data["startyear"]=data["startyear"].astype('int64')

In [14]:
team2=data[(data['startyear']>=1930) & (data['startyear']<=1980)]['Team']
print(team2)

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [0]:
#Question 3

data['Points']=data['Points'].astype('int64')

In [15]:
team3=data.nlargest(5,"Points")['Team']
print(team3)

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [0]:
#Question 4
data["GoalsFor"]=data["GoalsFor"].astype("int64")
data["GoalsAgainst"]=data["GoalsAgainst"].astype("int64")

In [0]:
def Goal_diff_count(T,F,A):
  for row in np.arange(len(T)):
    gd=F-A
  return T, gd

In [0]:
team4,goal=Goal_diff_count(data["Team"],data["GoalsFor"],data["GoalsAgainst"])

In [28]:
Team4=pd.Series(data=goal.values,index=team4)
Team4

Team
Real Madrid            2807
Barcelona              2786
Atletico Madrid        1225
Valencia                929
Athletic Bilbao         931
Sevilla                 307
Espanyol               -280
Real Sociedad            -2
Zaragoza               -164
Real Betis             -333
Deportivo La Coruna    -136
Celta Vigo             -346
Valladolid             -413
Racing Santander       -525
Sporting Gijon         -399
Osasuna                -334
Malaga                 -342
Oviedo                 -309
Mallorca               -189
Las Palmas             -399
Villarreal              103
Granada                -338
Rayo Vallecano         -328
Elche                  -272
Getafe                 -113
Hercules               -334
Tenerife               -125
Murcia                 -385
Alaves                 -165
Levante                -202
                       ...
Sabadell               -228
Cadiz                  -269
Logrones               -198
Castellon              -169
Albacete                -90
Almeria                -122
Cordoba                -145
Compostela              -42
Recreativo              -94
Burgos CF               -94
Pontevedra              -56
Numancia                -98
Eibar                   -28
Arenas                  -81
Real Burgos             -38
Gimnastic              -114
Extremadura             -55
Merida                  -45
Alcoyano               -107
Jaen                    -62
Real Union              -31
AD Almeria              -45
Europa                  -34
Lleida                 -112
Leganes                 -19
Xerez                   -28
Condal                  -20
Atletico Tetuan         -34
Cultural Leonesa        -31
Girona                    0
Length: 61, dtype: int64

In [30]:
#Finding team with max Goal differencce
Team4.idxmax()

'Real Madrid'

In [32]:
#Finding team with min Goal differencce
Team4.idxmin()

'Racing Santander'

In [0]:
#Question 6

data["GamesWon"]=data["GamesWon"].astype("int64")
data["GamesPlayed"]=data["GamesPlayed"].astype("int64")

In [44]:
data["Winning Percent"]=data["GamesWon"]*100/data["GamesPlayed"]
data.isna().sum()

Pos                0
Team               0
Seasons            0
Points             0
GamesPlayed        0
GamesWon           0
GamesDrawn         0
GamesLost          0
GoalsFor           0
GoalsAgainst       0
Champion           0
Runner-up          0
Third              0
Fourth             0
Fifth              0
Sixth              0
T                  0
Debut              0
Since/LastApp      0
BestPosition       0
startyear          0
Winning Percent    1
dtype: int64

In [50]:
data["Winning Percent"]=data["Winning Percent"].fillna(value=0,)
data.isna().sum()

Pos                0
Team               0
Seasons            0
Points             0
GamesPlayed        0
GamesWon           0
GamesDrawn         0
GamesLost          0
GoalsFor           0
GoalsAgainst       0
Champion           0
Runner-up          0
Third              0
Fourth             0
Fifth              0
Sixth              0
T                  0
Debut              0
Since/LastApp      0
BestPosition       0
startyear          0
Winning Percent    0
dtype: int64

In [52]:
data.nlargest(5,"Winning Percent")["Team"]

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

In [63]:
#Question 6
freq1=data["BestPosition"].value_counts(data["Points"].sum())
freq1

1     0.147541
4     0.098361
7     0.081967
2     0.081967
6     0.081967
3     0.065574
5     0.065574
10    0.065574
8     0.065574
17    0.049180
16    0.049180
9     0.032787
12    0.032787
19    0.016393
11    0.016393
14    0.016393
15    0.016393
20    0.016393
Name: BestPosition, dtype: float64

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 22 columns):
Pos                61 non-null int64
Team               61 non-null object
Seasons            61 non-null int64
Points             61 non-null int64
GamesPlayed        61 non-null int64
GamesWon           61 non-null int64
GamesDrawn         61 non-null object
GamesLost          61 non-null object
GoalsFor           61 non-null int64
GoalsAgainst       61 non-null int64
Champion           61 non-null object
Runner-up          61 non-null object
Third              61 non-null object
Fourth             61 non-null object
Fifth              61 non-null object
Sixth              61 non-null object
T                  61 non-null object
Debut              61 non-null object
Since/LastApp      61 non-null object
BestPosition       61 non-null int64
startyear          61 non-null int64
Winning Percent    61 non-null float64
dtypes: float64(1), int64(9), object(12)
memory usage: 10.6+ KB

In [74]:
pd.pivot_table(data,"Points",index="BestPosition", aggfunc=np.sum)

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34